---
import type { CollectionEntry } from "astro:content";
import Icon from "./Icon.astro";

type Props = {
	section: CollectionEntry<"landing">["data"]["footer"];
};

const { section } = Astro.props;
---

<footer class="mx-auto max-w-7xl px-6 lg:px-8">
	<div class="border-t border-gray-200 py-12 md:flex md:items-center md:justify-between dark:border-white/10">
		<div class="flex justify-center gap-x-6 md:order-2">
			{section.social.map((item) => (
				<a href={item.href} class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-white">
					<span class="sr-only">{item.name}</span>
					<Icon name={item.icon} class="size-6" />
				</a>
			))}
		</div>
		<p class="mt-8 text-center text-sm/6 text-gray-600 md:order-1 md:mt-0 dark:text-gray-400">{section.copyright}</p>
	</div>
</footer>
