---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('metrics');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'metrics'>;

const post = Astro.props;
const { Content } = await render(post);
const relatedPosts = (await getCollection('metrics'))
	.filter((relatedPost) => relatedPost.id !== post.id)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BlogPost {...post.data}>
	<Content />
	{
		relatedPosts.length > 0 && (
			<nav
				class="mt-12 border-t border-[rgb(var(--gray-light))] pt-6"
				aria-label="Related metrics posts"
			>
				<h2 class="mt-12 mb-3 text-xl leading-[1.2]">Related Metrics</h2>
				<ul class="m-0 pl-6">
					{relatedPosts.map((relatedPost) => (
						<li class="mb-2">
							<a href={`/metrics/${relatedPost.id}/`}>{relatedPost.data.title}</a>
						</li>
					))}
				</ul>
			</nav>
		)
	}
</BlogPost>
